@media screen and (max-width: 1229px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}


@media screen and (max-width: 1023px) {
    .main .container {
        flex-direction: column;
        position: relative;
    }

    .main-image {
        order: 1;
        opacity: 0.1;
        position: absolute;
        top: 0;
        z-index: -1;
    }

    .form .container {
        position: relative;
        justify-content: center;
    }

    .form-group, .form-input {
        background: transparent;
    }

    .form-image {
        position: absolute;
        top: 0;
        opacity: 0.1;
        z-index: -1;
    }

    .choice .container {
        position: relative;
        justify-content: center;
    }

    .choice-image {
        position: absolute;
        top: 100px;
        opacity: 0.1;
        z-index: -1;
    }

    .choice-option {
        background: transparent;
    }
}


@media screen and (max-width: 767px) {
    .big-title, common-title {
        font-size: 35px;
    }

    .test-question-title {
        font-size: 24px;
    }

    .main, .form {
        padding: 110px 0;
        text-align: center;
    }

    .choice-content {
        width: 100%;
        min-width: auto;
        text-align: center;
    }

    .choice-option {
        text-align: left;
        padding-right: 40px;
    }

    .choice-option-arrow {
        display: none;
    }

    .test-progress-bar {
        display: none;
    }

    .test-question-title {
        margin-top: 20px;
    }
}


@media screen and (max-width: 519px) {
    .form-group {
        width: auto;
    }

    .test-actions {
        flex-wrap: wrap;
    }

    .test-time {
        order: 1;
        margin-top: 12px;
    }
}


@media screen and (max-width: 424px) {
    .big-title, .common-title {
        font-size: 28px;
    }

    .main-description, .choice-description {
        font-size: 18px;
    }

    .choice-option {
        font-size: 14px;
        padding: 16px 26px;
    }

    .result-score {
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 30vw;
    }
}
