@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("../fonts/MuseoSansMedium.ttf");
}

@font-face {
    font-family: "Museo Sans Cyrl Bold";
    src: url("../fonts/MuseoSansBold.ttf");
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Museo Sans Cyrl", sans-serif;
    color: #333333;
}

a {
    color: #6933DC;
}

.header {
    padding: 42px 0 40px;
    border-bottom: 1px solid #DCDCF3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    max-width: 226px;
}

.logo img {
    width: 100%;
}

.common-title {
    font-family: "Museo Sans Cyrl Bold", sans-serif;
    font-size: 48px;
    line-height: 58px;
}

.common-title span {
    color: #6933DC;
}

.big-title {
    font-family: "Museo Sans Cyrl Bold", sans-serif;
    font-size: 54px;
    line-height: 65px;
}

.big-title span {
    color: #6933DC;
}

.button {
    padding: 14px 35px;
    background: #6933DC;
    border-radius: 6px;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
    transition: 0.4s;
}

.button-transparent {
    background: transparent;
    color: #6933DC;
    border: 1px solid #6933DC;
}

.button-transparent:hover {
    background: #6933DC;
    color: white;
}

.button:hover {
    background: #32098a;
}

.footer {
    text-align: center;
    padding: 40px 0;
    font-size: 13px;
    line-height: 16px;
    color: #DCDCF3;
}
