.main {
    padding-top: 190px;
    padding-bottom: 231px;
}

.main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content {
    max-width: 588px;
}

.main-description {
    margin-top: 40px;
    font-size: 20px;
    line-height: 1.2;
    max-width: 486px;
}

.main-button {
    margin-top: 60px;
}

.main-image img {
    width: 100%;
}
