.test {
    padding: 20px 0 50px;
}

.test-pre-title {
    font-size: 20px;
    line-height: 24px;
    color: #DCDCF3;
}

.test-progress-bar {
    margin: 60px 0 80px;
}

.test-question-title {
    font-size: 36px;
    line-height: 43px;
    font-family: "Museo Sans Cyrl Bold", sans-serif;
}

.test-question-title span {
    color: #6933DC;
}

.test-question-options {
    margin-top: 58px;
    min-height: 344px;
}

.test-question-option {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    display: flex;
}

.test-question-option label {
    cursor: pointer;
}

.test-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.test-time {
    display: flex;
    align-items: center;
}

.test-time-text {
    font-size: 17px;
    line-height: 20px;
    color: #6933DC;
    margin-right: 15px;
}

.test-time-clock {
    background-image: url("../images/time.png");
    background-size: cover;
    background-position: center;
    width: 27px;
    height: 29px;
    text-align: center;
    font-size: 10px;
    line-height: 28px;
}

.pass-question {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.pass-question a {
    font-size: 17px;
    line-height: 20px;
    color: #6933DC;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.pass-question a:hover {
    text-decoration: underline;
}

.pass-question a img {
    margin-left: 13px;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 3px solid #6933DC;
    border-radius: 50%;
    margin-right: 13px;
    transform: translateY(2px);
    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: inset 10px 10px #6933DC;
    transition: 200ms ease transform;
    transform: scale(0);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}







